@import "tailwindcss";

/* Global reset */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  
  /* overflow-x: hidden;   allow vertical for Locomotive */
  /* overflow-y: auto;   */
  /* prevent double scroll */
  font-family: 'Anzo1', 'Anzo2', 'MorgSemi', 'Mobile-Device1', sans-serif;
}

/* Scroll container */
/* [data-scroll-container] {
  min-height: 100vh;
} */

[data-scroll-section] {
  position: relative;
}

/* Font-face definitions */
@font-face {
  font-family: 'Anzo1';
  src: url('/Fonts/anzo.woff2') format('woff2');
}

@font-face {
  font-family: 'Anzo2';
  src: url('/Fonts/anzo.woff2') format('woff2');
}

@font-face {
  font-family: 'Anzo3';
  src: url('/Fonts/anzo1.woff2') format('woff2');
}

@font-face {
  font-family: 'MorgSemi';
  src: url('/Fonts/Morganite-Black.woff') format('woff');
}

@font-face {
  font-family: 'Mobile-Device1';
  src: url('/Fonts/Frijole/Frijole-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mobile-Device2';
  src: url('/Fonts/Story_Script/StoryScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mobile-Device3';
  src: url('/Fonts/Creepstar-Regular.ttf') format('truetype');
}

/* Example 3D / tilt styles */
#page1-in {
  position: relative;
  perspective: 1000px;
}

#quoteSection {
  position: relative;
  perspective: 1800px;
}

.rotateText {
  transform-origin: 100% 70%;
}

#tiltDiv {
  width: fit-content;
  transform: rotateY(10deg);
  transition: transform 1s ease-in-out;
}